html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #000000;

}

.background-image {
    background-color: rgb(65, 65, 65);
    background-blend-mode: multiply;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-blend-mode: multiply;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1000px;
    position: absolute;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-size: 10px;
    color: #fffefea2;
    font-weight: lighter;
}

h3 {
    font-size: 20px;
    color: #fffefea2;
    font-weight: lighter;
}

p {
    font-size: 15px;
    color: #fffefee5;
}

img {
    height: 250px;
    width: auto;
}

div {
    text-align: justify; 
  
}

.log {
    text-align: justify;
    margin: 0px;
}

.inline {
    margin: 0px;
    display: inline-block;
    text-align: justify;
    width: 50%;
}

